# エディタ・OS
.DS_Store
Thumbs.db
*.Identifier
/.vscode/sftp.json

# 依存関係
/vendor
/node_modules

# 設定ファイル
local-secrets.php
prod-secrets.php
/shared/secrets.php
*.env
.user.ini
.htaccess

# セットアップスクリプト
setup.sh
prid-setup.sh
setup/local-setup.sh
/password.openchat-review.me

# バッチ処理
batch/sh/*.key
batch/sh/sqldump

# 画像ファイル
/public/oc-img/*
/public/oc-img-*/*
!/public/oc-img/default
!/public/oc-img-*/default
!/public/oc-img/preview
!/public/oc-img-*/preview
/public/oc-img/preview/*
/public/oc-img-*/preview/*
!/public/oc-img/preview/default
!/public/oc-img-*/preview/default

# サイトマップ
public/sitemaps/**
public/sitemap.xml

# ストレージ
storage/exception.log
storage/furigana/**
storage/*/logs/*
storage/*/SQLite/statistics/statistics.db
storage/*/SQLite/ranking_position/ranking_position.db
storage/*/SQLite/ocgraph_sqlapi/*.db
storage/*/SQLite/*/*.db-shm
storage/*/SQLite/*/*.db-wal
storage/*/ranking_position/*/*
storage/*/ranking_position/filter.dat
storage/*/ranking_position/filter_date.dat
storage/*/ranking_position/filter_member_change.dat
storage/*/ranking_position/filter_new_rooms.dat
storage/*/ranking_position/filter_weekly_update.dat
storage/*/static_data_top/*
!storage/*/static_data_top/non_essential_storage_file_sample
storage/*/static_data_recommend/*/*
storage/*/open_chat_sub_categories/subcategories.json

# Docker SSL証明書
/docker/app/ssl/*.pem
/docker/app/ssl-new/*.pem
/docker/line-mock-api/ssl/*.pem

# LINE Mock API
/docker/line-mock-api/data/*.json
/docker/line-mock-api/data/debug.log

# 例外: .gitkeepは含める
!*.gitkeep
