name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        echo "[ocgraph.wpx.jp]:10022 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOhhZj6zmpEsTH6DqkbnA36UdjxT2KUgweZKik4KksOF" >> ~/.ssh/known_hosts

    - name: Deploy
      run: |
        ssh -p 10022 ocgraph@ocgraph.wpx.jp "cd /home/ocgraph/openchat-review.me/public_html && git pull"
